# Mukesh Kumar Sanodiya (10-Jan-2019)

# 4.NUMPY- Assignment-2

# Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of the given sequence is defined as follows:
The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10)

In [8]:
import pandas as pd

In [9]:
data1={'data':[10,20,30,40,50,60,70,80,90,100]}

In [10]:
data1

{'data': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]}

In [11]:
df=pd.DataFrame(data1)

In [12]:
df

   data
0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
9   100

In [16]:
df1=df.rolling(4).mean()
df1

   data
0   NaN
1   NaN
2   NaN
3  25.0
4  35.0
5  45.0
6  55.0
7  65.0
8  75.0
9  85.0

In [17]:
df1[3:]

   data
3  25.0
4  35.0
5  45.0
6  55.0
7  65.0
8  75.0
9  85.0

# Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [20]:
import numpy as np
from numpy import convolve
 
def movingaverage (values, window):
    weights = np.repeat(1.0, window)/window
    sma = np.convolve(values, weights, 'valid')
    return sma
 
y = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
 
yMA = movingaverage(y,3)
print (yMA)

[  5.           4.66666667   5.66666667   6.66666667   9.66666667
  28.66666667  49.33333333  72.66666667  84.          93.33333333
 116.33333333]